.h1{
    color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
    max-width: 1200px;
    margin: 0 auto;
      
}

.pais{
    position: fixed; top: 0px; left: 800px;
    font-size: 58pt;
    color: blue;
    font-style: italic;
}

.img{
    position: fixed; top: 50px; left: 50px;
    border-radius: 20%;
}

.capital{
    font-size: 28pt;
    position: fixed; top: 300px; left: 120px;
    color: red;
}

.continente{
    font-size: 28pt;
    position: fixed; top: 340px; left: 120px;
    color: red;
}

.poblacion{
    font-size: 28pt;
    position: fixed; top: 380px; left: 120px;
    color: red;
}

.subregion{
    font-size: 28pt;
    position: fixed; top: 420px; left: 120px;
    color: red;
}

.area{
    font-size: 28pt;
    position: fixed; top: 460px; left: 120px;
    color: red;
}

.tituloActividades{
    position: fixed; top: 140px; left: 880px;
    font-size: 28pt;
    color: red;
}

.volver{
    position: fixed; top: 540px; left: 660px;
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 6px 4px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}

.volver:hover {
  background-color: red; /* Green */
  color: white;

}

 .actividad{
    position: fixed; top: 190px; left: 800px;
    float: right;
    width: 300px;
    padding: 10px;
    color: white;
    font-size: 18pt;
}
.temporada{
    position: fixed; top: 250px; left: 800px;
    float: right;
    width: 300px;
    padding: 10px;
    font-size: 15pt;
    color: white;
}
.duracion{
    position: fixed; top: 280px; left: 800px;
    float: right;
    width: 300px;
    padding: 10px;
    font-size: 15pt;
    color: white;
}
.dificultad{
    position: fixed; top: 310px; left: 800px;
    float: right;
    width: 300px;
    padding: 10px;
    font-size: 15pt;
    color: white;
} 

