.global{
    background-position: center center;
    background-size: cover;
    height: 1800px;
}

.h1{
    position: relative; right: 300px; top: 120px;
    color: white;
}

.ingresar{
    position: relative; right: 300px; top: 120px;
}