.h1{
    color: white;
}
.divform{
    position: absolute; top: 0px; left: 350px;
    font-size: 3em;
    text-align: center;
  margin-top: 3em;
  margin-bottom: 10em;
  color: rgb(26, 26, 130);
  border: 4px solid blue;
  background-color: #dcdcdc;
  width: 700px;
  display: block;
  width: 650px;
  margin: 4 auto;

}

.button{
    position: relative; top: 80px; left: 85px;
    border: 3px solid blue;
    width: 100px;
    height: 40px;
    
}

.volver{
  position: relative; top: -110px; left: 0px;
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 6px 4px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}
.volver:hover {
  background-color: red; /* Green */
  color: white;
}

.nuevaActividad{
  position: relative; top: -120px; left: 0px;
  background-color: blue;
  border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 6px 4px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}
.nuevaActividad:hover {
  background-color: red; /* Green */
  color: white;
}

.titulo{
 color: red;
}

.temporadas{
  font-size: 18pt;
}

.caracteristicas{
  font-size: 28pt;
}